body{
    width: : 100%;
    height: 500px;

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 200;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#naglowek{
    border-style: solid;
    border-color: coral;
    width: 100%;
    height: 180px;
    margin: auto;

  }
#zdjecieTlo{
    width: 100%;
    height: 180px;
}

#srodek{
    margin-left: 220px;
    margin: auto;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: blue;
}

input[type=text], select {

    width: 80%;
    padding: 12px 20px;
    margin-right: 30px;
    margin-left: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}

input[type=submit] {

    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-right: 10px;
    margin-left: 10px;   
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

